<div class="new-message-form">
   <form method="POST" action="/new">
      <input type="text" name="messageUser" placeholder="Your Name" required />
      <textarea
         name="messageText"
         placeholder="Type your message here"
         required
      ></textarea>
      <button type="submit">Send Message</button>
   </form>
</div>
